{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="mw-100 text-center">
            <div class="error">
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {{ form_start(form) }}
                <div class="error">
                    {{ form_errors(form.longUrl, {'attr': {'class': 'list-unstyled'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.longUrl, "Long Url") }}
                    {{ form_widget(form.longUrl, {'attr': {'maxlength': '300'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

